#!/home/pad/goken/bin/rc -m/home/pad/goken/etc/rcmain.unix

# Script to compare the source code in the different kencc-derived
# repositories to ultimately try to unify them in one repo (goken).
# ex: cd ~/; ./goken/scripts/diff.rc va &> /tmp/diffva

cmd=$1
# let's focus just on the C and assembly code; let's skip diff on mkfile
flags=(-u -p -b -B -r -x mkfile)

# missing: 
# - 9base: no compiler toolchain
# - plan9port: no compiler toolchain
# - 9cc: no riscv (ia/ic/il), no 5i/vi
# - 9front: no riscv

# default base, for big comparisons
base=9cc
#base=inferno # for ia/ic/il as 9cc does not have them

dirs=(9cc 9colombier inferno inferno-old plan9 mykencc myplan9 kencc-riscv miller-riscv goken goold goken-go-variant 9front)
# to add when comparing regular tools instead of the toolchain:
#dirs=(9base plan9port)

# goken comparisons
#base=goken
#dirs=(goken inferno plan9 9front)

# kencc comparisons
#base=9cc
#dirs=(9cc 9colombier inferno mykencc kencc-riscv)

# other
#base=mykencc
#dirs=(9colombier)

echo '# -*- diff -*-'
echo REPORT for $cmd with base $base

for (dir in $dirs) {
  echo '###########################' $dir '############################'
  /usr/bin/diff $flags xxx/$base/$cmd xxx/$dir/$cmd
}
